path_prefix = C:\Projects\msee\trunk\trunk\data\SIG_DATA2\Phase2DistributableTestingData;
joint_parse_graph_file = result_20140404_001501_garden\lightly_merged\\result_20140404_001501_garden_multiview\data.rdf;
soc_description_file = result_20140404_001501_garden\lightly_merged\result_description.xml;
owl_ontology_file = C:\Projects\msee\trunk\trunk\src\java\EES-SUT\QueryUnitTest\model\MSEE.owl;
persistent_names_directory = C:\Users\vcla\Documents\MSEE\Temp;
call_remote_online_functions = true;
