path_prefix = E:\msee\trunk\trunk\data\SIG_DATA2\Phase2DistributableTestingData;
parent_directory = soc-sig-office-2013-09-04-testing;
joint_parse_graph_directory = soc-sig-office-2013-09-04-testing\result_20140331_021605_office\lightly_merged\result_20140331_021605_office_multiview;
soc_description_file = soc-sig-office-2013-09-04-testing\result_20140331_021605_office\lightly_merged\result_description.xml;
owl_ontology_file = E:\msee\trunk\trunk\src\java\EES-SUT\QueryUnitTest\model\MSEE.owl;
configuration_file = ..\EES-SUT\QueryEngineInterface\config_xml\configuration_office.xml;
persistent_names_directory = E:\msee\trunk\trunk\temp;
call_remote_online_functions = false;
translation_directory = E:\msee\trunk\trunk\temp\Translation;
text_parser_grammar_file = E:\msee\trunk\trunk\src\java\model\dependency_grammar.xml;
text_parser_mapping_file = E:\msee\trunk\trunk\src\java\model\dependencies_mapping.txt;
stanford_parser_grammar_file = E:\msee\trunk\trunk\src\java\grammar\englishPCFG.ser.gz;
