path_prefix = C:\MSEE_2\msee\data\SIG_DATA2\Phase3DistributableTestingData;
parent_directory = SIGParkingLot-2014-01-04-Testing;
joint_parse_graph_directory = SIGParkingLot-2014-01-04-Testing\RDF;
soc_description_file = SIGParkingLot-2014-01-04-Testing\description.xml;
owl_ontology_file = C:\MSEE_2\msee\src\java\EES-SUT\QueryUnitTest\model\MSEE.owl;
configuration_file = ..\EES-SUT\QueryEngineInterface\config_xml\configuration_parking_01_04_phase_3.xml;
persistent_names_directory = C:\MSEE_2\msee\temp;
call_remote_online_functions = true;
translation_directory = C:\MSEE_2\msee\temp\Translation;
text_parser_grammar_file = C:\MSEE_2\msee\src\java\model\dependency_grammar.xml;
text_parser_mapping_file = C:\MSEE_2\msee\src\java\model\dependencies_mapping.txt;
stanford_parser_grammar_file = C:\MSEE_2\msee\src\java\grammar\englishPCFG.ser.gz;
